<div ng-include="'components/navbar/navbar.html'"></div>


<div class="container">
    <div class="row">
        <div class="col-sm-4"></div>
        <div class="col-sm-4 well well-form">
            <form class="form" name="form" ng-submit="changePassword(form)" novalidate>

                <h3>Change Password</h3>

                <div class="form-group">
                    <input placeholder="Current Password" type="password" name="password" class="form-control" ng-model="user.oldPassword"
                           mongoose-error/>
                    <p class="help-block" ng-show="form.password.$error.mongoose">
                        {{ errors.other }}
                    </p>
                </div>

                <div class="form-group">

                    <input placeholder="New Password" type="password" name="newPassword" class="form-control" ng-model="user.newPassword"
                           ng-minlength="3"
                           required/>
                    <p
                       ng-show="(form.newPassword.$error.minlength || form.newPassword.$error.required) && (form.newPassword.$dirty || submitted)">
                        Password must be at least 3 characters.
                    </p>
                </div>

                <p > {{ message }} </p>

                <button class="btn btn-white" type="submit">Save changes</button>




            </form>
        </div>
        <div class="col-sm-4"></div>
    </div>




</div>



