<div class="container">
    <div class="row">
        <div class="col-sm-4"></div>
        <div class="col-sm-4 well well-form">
            <form class="form" name="form" ng-submit="login(form)" novalidate>

                <a href="/"><i class="pull-right glyphicon glyphicon-remove glyphicon-white glyphicon-lg"></i></a>

                <h3>Login</h3>

                <div class="form-group">
                    <input placeholder="Email" type="email" name="email" class="form-control" ng-model="user.email" required>
                </div>

                <div class="form-group">
                    <input placeholder="Password" type="password" name="password" class="form-control" ng-model="user.password" required>
                </div>

                <div class="form-group has-error">
                    <div class="alert alert-danger" ng-show="form.email.$error.required && form.password.$error.required && submitted">
                        <i class="glyphicon glyphicon-exclamation-sign"></i>
                        Please enter your email and password.
                    </div>
                    <div class="alert alert-danger"  ng-show="form.email.$error.email && submitted">
                        <i class="glyphicon glyphicon-exclamation-sign"></i>
                        Please enter a valid email.
                    </div>

                    <p class="help-block">{{ errors.other }}</p>
                </div>

                <div>
                    <button class="btn btn-white" type="submit">
                        Login
                    </button>
                    or
                    <a class="btn btn-white" href="/signup">
                        Sign Up
                    </a>
                </div>


            </form>
        </div>
        <div class="col-sm-4"></div>
    </div>


    <div class="row">
            <div class="text-center">
                Default account is <code>test@test.com</code> / <code>test</code></p>
                <p>Admin account is <code>admin@admin.com</code> / <code>admin</code></p>
            </div>
        </div>
        <div class="col-sm-4"></div>
    </div>

</div>

